@mixin justify-content($var) {
  -ms-justify-content: $var;
  -webkit-justify-content: $var;
  justify-content:$var;
}
@mixin align-content($var) {
  -ms-align-content: $var;
  -webkit-align-content: $var;
  align-content: $var;
}
@mixin align-items($var) {
  -ms-align-items: $var;
  -webkit-align-items: $var;
  align-items: $var;
}
html, body {
  background: #4c4c4c;
  color: #ffffff;
  font: 400 16px Ubuntu;
}
.flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  @include justify-content(space-between);
  @include align-content(flex-start);
  @include align-items(flex-start);
}
.flex-vert-center {
  @include align-items(center);
}
main {
  width: 1000px;
  margin: 200px auto;
}
.SongList {
  position: relative;
}
